django<4.0
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
crispy-bootstrap5  # https://github.com/django-crispy-forms/crispy-bootstrap5
django-debug-toolbar # https://github.com/jazzband/django-debug-toolbar
#contextvars
#typing_extensions
