{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock %}

{% block inner %}

<h1>Sign In</h1>

<form class="login" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="hidden" name="next" value="{{ request.GET.next }}" />
  <button class="primaryAction btn btn-primary" type="submit">Sign In</button>
  <a role="button" class="btn btn-secondary" href="{% url 'password_reset' %}">Forgot Password?</a>
</form>

{% endblock %}
