{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Password Reset{% endblock %}

{% block inner %}

    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    <p>You are logged in, please go to <a href="{% url 'password_change' %}">Change Password</a> if that's what you're looking for.</p>
    {% else %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'password_reset' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
    {% endif %}
{% endblock %}
